* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0D0D0D;
    font-family: Arial, sans-serif;
}

.add-expense-container {
    text-align: center;
    color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 300px;
}

.top-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-link {
    color: #4CAF50;
    text-decoration: none;
    font-size: 1em;
}

.exit-link {
    color: #f44336;
    text-decoration: none;
    font-size: 1em;
}

h1 {
    font-size: 1.8em;
    color: #f2f2f2;
    margin-bottom: 20px;
    border-bottom: 2px solid #594302;
    display: inline-block;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 0.9em;
    color: #d5dfd7;
    text-align: left;
    width: 100%;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: #fff;
    font-size: 1em;
    width: 100%;
}

input::placeholder {
    color: #8c8c8c;
}

button.add-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    background-color: #f44336;
    color: #fff;
    transition: background-color 0.3s;
}

button.add-button:hover {
    background-color: #e57373;
}
